body,
h1,
h2 {
    font-family: "Raleway", sans-serif
}

body,
html {
    height: 100%
}

p {
    line-height: 2
}

.bgimg,
.bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.bgimg {
    background-image: url("/w3images/wedding_couple.jpg")
}

.bgimg2 {
    background-image: url("/w3images/flowers.jpg")
}

/* fancy text */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: ivory;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#text {
    text-align: center;
    position: relative;
    top: 200px;
    font-size: 7em;

}

.text0,
.text2 {
    color: black;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.text1,
.text3 {
    color: black;
    -webkit-text-fill-color: #bc0000;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}